# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Build folders
build/
dist/
Output/

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Installer leftovers
*.iss~
*.exe
